# Eclipse metadata
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp

# Eclipse project files
*.launch
.settings/
.classpath
.project

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IntelliJ IDEA (if someone opens project there)
*.iml
.idea/
out/

# Java
*.class